/* RESET RULES */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol,
li {
	list-style: none;
    margin-bottom: 15px;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	max-width: 100%;
}

/* LAYOUT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: rgb(238, 238, 238);
}

.container {
    max-width: 1024px;
   
}

/* HEADER */

.logo {
    margin-left: 10px;
}

.header-container {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 30px;
}

.logo-name {
    font-size: 40px;
    vertical-align: middle;   
}

/* TASK AND SECTION */

.card-header {
    border-bottom: 1px solid color (rgb 255, 255, 255);
}

.main-container {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;    
    border-radius: 5px;
    border-color: rgb(255, 255, 255);

}

.box-section {
    width: 135px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    color: rgb(216, 216, 216);
    align-content: center;
}

/* SIMBOLI */
.checkmark {
    width: 24px;
    height: 24px;
    border-style: solid;
    color: green;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
   
}

.crossmark {
    width: 25px;
    height: 25px;
    border-style: solid;
    color: rgb(255, 0, 0);
    display: inline-block;
    border-radius: 25px;
    text-align: center;
}

/*BOX DELLA CHECKLIST */
.box {
    border-radius: 10px;
    border-style: solid;
  
}

.cyan {
    background-color: rgb(23, 142, 163);
    width: 70px;
    border-color:rgb(23, 142, 163);
}

.violet {
    background-color: rgb(111, 15, 167);
    width: 70px;
    border-color:rgb(111, 15, 167);
}

.dark-green {
    background-color: rgb(18, 73, 11);
    width: 70px;
    border-color: rgb(18, 73, 11);
}

.pink {
    background-color: rgb(195, 28, 201);
    width: 70px;
    border-color:rgb(195, 28, 201);
}

.orange {
    background-color: rgb(216, 115, 20);
    width: 70px;
    border-color: rgb(216, 115, 20);
}
.light-green {
    background-color: rgb(81, 228, 23);
    width: 70px;
    border-color:rgb(81, 228, 23);
}

.text {
    font-weight: 100;
    font-size: smaller;
    color: rgb(255, 255, 255);
}