/* RESET RULES */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	max-width: 100%;
}

/* LAYOUT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: rgb(238, 238, 238);
}

.container {
    max-width: 1024px;
   
}

/* HEADER */

.header-container {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
}

.logo-name {
    font-size: 40px;   
}

/* TASK AND SECTION */

.main-container {
    background-color: rgb(255, 255, 255);
}

.box-task {
    width: 110px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: rgb(69, 200, 240);
    align-content: center;
 
}

.box-section {
    width: 135px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    color: rgb(216, 216, 216);
    align-content: center;

}


